@page "/"
@using Stripe.Checkout
@using System.Web
@inject NavigationManager NavMan
@inject HttpClient HttpClient
@rendermode InteractiveWebAssembly

<PageTitle>Widget Sale!</PageTitle>

<section class="border p-4 bg-light">
    <label>Order id(enter some number):</label>
    <input @bind-value="OrderId" />
    <label for="priceInput">Price ($):</label>
    <input type="number" @bind-value="Price" />
    <form method="post" @formname="checkout" @onsubmit="Checkout">

        <button type="submit" class="btn btn-primary">
            Place Order
        </button>
        <AntiforgeryToken />
    </form>

</section>

@code {
    private string? OrderId{ get; set; }
    private int Price { get; set; }

    private async Task Checkout()
    {
        var queryBuilder = HttpUtility.ParseQueryString(string.Empty);
        queryBuilder["price"] = Price.ToString();
        queryBuilder["orderId"] = OrderId.ToString();
        queryBuilder["domain"] = NavMan.Uri.TrimEnd('/');

        var checkoutSessionUrl = await HttpClient.GetStringAsync($"api/Stripe?{queryBuilder}");
        NavMan.NavigateTo(checkoutSessionUrl);
    }
}
